.div1{
    height: 80px;
padding: 25px;
background-color:#fcfcdc ;
color: #303255;
text-align: center;
font-size: larger;
}
.box1{
    height: 160px;
    background-color:#52beff ; 
    margin: 15px;
    padding: 15px;
    display:flex ;
    
    justify-content: space-evenly;
    

}
.box2{
    height: 160px;
    background-color: #d899aa;
    margin: 15px;
    padding: 12px;
    display:flex ;
    
    justify-content: space-evenly;
}
.box3{
    height: 160px;
    background-color: aliceblue;
    margin: 15px;
    padding: 15px;
    display:flex ;
    
    justify-content: space-evenly;
}

.img{
    height: 150px;
    width: 150px;


}