* {
    margin: 0px;
    padding: 0px;
}

/* ------------------------------------------- */
.head1 {
    height: 60px;
    width: 770px;
    border: 2px solid #9fc5f8;
    background-color: #9fc5f8;
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.hh {
    margin-left: 100px;
}

.ph1 {
    margin-left: 80px;
}

.ph2 {
    margin-left: 80px;
}

.ph3 {
    margin-left: 80px;
}

/* ----------------------------------------- */
.na {
    height: 50px;
    width: 770px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-left: 300px;
    margin-top: 10px;
}

.hn {
    margin-left: 100px;
}

.pn {
    margin-left: 300px;
}

/* -------------------------------------------- */
img {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background-color: #eeeeee;
    margin-left: 30px;
}

.asi {
    height: 380px;
    width: 770px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
}

.dias1 {
    height: 250px;
    width: 150px;
    border-radius: 2px solid #eeeeee;
    background-color: #eeeeee;
}

.dias2 {
    height: 250px;
    width: 150px;
    border-radius: 2px solid #eeeeee;
    background-color: #eeeeee;

}

.dias3 {
    height: 250px;
    width: 150px;
    border-radius: 2px solid #eeeeee;
    background-color: #eeeeee;
}

.dias4 {
    height: 250px;
    width: 150px;
    border-radius: 2px solid #eeeeee;
    background-color: #eeeeee;
}

h3 {
    margin-top: 10px;
    margin-left: 40px;
}

.pra {
    margin-left: 42px;
}

.pss1 {
    margin-left: 42px;
}

.psc {
    margin-left: 35px;
}

.pss2 {
    margin-left: 42px;
}

.pn1 {
    margin-left: 10px;
    margin-top: 10px;
    color: #2b78e4;
    display: flex;
    justify-content: space-between;
}

.pn2 {
    margin-left: 10px;
    margin-top: 10px;
    color: #2b78e4;
    display: flex;
    justify-content: space-between;
}

.pn3 {
    margin-left: 10px;
    margin-top: 10px;
    color: #2b78e4;
    display: flex;
    justify-content: space-between;
}

.pn4 {
    margin-left: 10px;
    margin-top: 10px;
    color: #2b78e4;
    display: flex;
    justify-content: space-between;
}

.sp1 {
    color: #cf2a27;
}

.sp2 {

}

.sp3 {
    color: #cf2a27;
}

.sp4 {

}

.sp5 {
    color: #cf2a27;
}

.sp6 {

}

.sp7 {
    color: #cf2a27;
}

.sp8 {
margin-right: 1px;
}

p {
    font-size: large;
}

/* ------------------------------------ */
.foot {
    height: 200px;
    width: 770px;
    border: 2px solid black;
    background-color: aliceblue;
    margin-left: 300px;
    display: flex;
    position: fixed;
    bottom: 5px;

}

.lastimg {
    margin-top: 60px;
    margin-right: 20px;
}

.lastdi {
    margin-top: 50px;
}

.lastbut {
    height: 35px;
    width: 150px;
    background-color: #9FC5F8;
    box-shadow: 3px 3px black;
    margin-top: 80px;
    margin-left: 30px;
}

/* ----------------------------------------------- */